PORT=8000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=tu_usuario_mysql
DB_PASSWORD=tu_password_mysql
DB_NAME=tu_base_de_datos
JWT_SECRET=cambia_esta_llave_jwt
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_clave_app_de_gmail
SMTP_FROM=CoopeOcala <tu_correo@gmail.com>
