.dashboard{

padding:40px;

}

.dashboard-title{

font-size:32px;
font-weight:bold;
color:#002D72;
margin-bottom:30px;

}

.accounts{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}

.account-card{

background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.balance{

font-size:24px;
font-weight:bold;
margin-top:10px;

}